@import url(var.css);
body{
  background-color: var(--bg);
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar{
  width: 7px;
}
body::-webkit-scrollbar-thumb{
  background: var(--deco);
  border-radius: 5px;
}
.logo center{
  margin: 30px 0 0 0 ;
}
.title{
  margin: 50px 0 0 0;
  text-align: center;
  cursor: pointer;
}
.title_hijo{
  display: flex;
  justify-content: center;
 
}
.nombre{
  margin: 0;
  font-size: var(--titleC);
  color: var(--h1);
  position: relative;
  font-family: var(--fonth1);
  letter-spacing: 2px;
}
.flor{
  height: 50px;
  align-items: center;
  margin: 0 20px 0 20px;
}
.nombre::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: var(--deco);
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;

}
.nombre:hover:after{
  transform-origin: left;
  transform: scaleX(1);
  cursor: pointer;
}
.img-padre{
 content: "";
 margin: 80px 0 0 0;
}
.img-hijo{
display: flex;
justify-content: center;
align-items: flex-end 
}
.biografia{
  padding-top: 50px;
  margin: 0 auto;
  color: var(--font);
  font-family: var(--fontp);
  width: 70%;
  text-align: justify;
  hyphens: auto;
  line-height : 30px;
  
}

span{
  color: var(--deco);
  font-family: var(--fontp);
}
/* Ejecuta el CSS en pantallas cuyo ancho tenga como mínimo 768px */
/* Es decir, lo ejecuta a partir de 768px en adelante */
@media screen and (min-width:768px) { 
  .nombre{
    	width:70%;
	}
}