:root {
  --h1:#FFE0B8;
  --bg:#000217;
  --deco: #FF9A26;
  --font:#8F7AC1;
  --fontp:'Montserrat', sans-serif;
  --titleC:32px;
  --biografia:20px;
  --fonth1:'Abril Fatface', cursive;

} 

